.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  color: #ffffff;
  background-color: #607D8B;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #90A4ae;
  border-bottom: 20px;
  border-color: #dd6044;
}
/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;

}

/* Custom page header */
.header {
  background: url(../images/DSC00569.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
  height: 100vh;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  color: #ffffff;
  width: 100%;
  padding: 100px 0;
}

.container-narrow > hr {
  margin: 30px 0;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.btn-success{
  background-color:  rgba(246, 71, 71, 0);
  border-color: #FFFFFF;
  border-width: 2px;
}
.btn-success:hover
{
  background-color:  rgba(246, 71, 71, 0);
  border-color: #F64747;
  color: #F64747;
}
.btn-success:active
{
  background-color:  rgba(246, 71, 71, 0);
  border-color: #F64747;
  color: #F64747;
}
.btn-success:focus,
.btn-success.focus {
  background-color:  rgba(246, 71, 71, 0);
  border-color: #F64747;
  color: #F64747;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color:  #F64747;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color:  rgba(246, 71, 71, 0);
  border-color: #FFFFFF;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  background-color:  rgba(246, 71, 71, 0);
  border-color: #FFFFFF;
}
.navbar{
  border-color: rgba(0,0,0, 0);
  text-decoration-color: #ddbc44;
  color: #FFFFFF;
  background-color:transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #F64747;
  color: #ffffff;
}
.navbar-default .navbar-brand{
  color: #ffffff;
}
.navbar-nav{
  color: #ffffff
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #F64747;
  color: #FFFFFF;
}


.navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
}
.navbar-fixed-bottom{
  background-color: #90A4AE;
  border-color: #dd6044;
}

/* Main marketing message and sign up button */
.jumbotron {

  text-align: center;
  border-bottom: 10px solid #dd6044;
  background: rgba(69, 90, 100, 0);
  padding-bottom: 20px;
  color: #FFFFFF;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.padding-top-lg {
  padding-top: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1000;
  }
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .font-container {
      max-width: 100%;
      padding: 20px 0px;
      background-color: rgba(246, 71, 71, .4);
    }
  }
  .container-full{
    width: 100%;
    background-color: rgba(246, 71, 71, .4);
  }

  /*list color */
  .list-group-item{
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0);

  }
  .list-group{
    background-color: rgba(0,0,0, 0);
  }
.content-left{
  border-left: 1px solid #FFFFFF;
  padding-bottom: 20px;
  padding-left: 20px;
  clear:both;
}
.float-right{
    float: right;
    vertical-align: middle;
    margin: 0 0 10px 10px;
}
.float-left{
    float: left;
    margin: 0 0 10px 10px;
}

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .carousel{
    margin:0 auto;
    width: 1000px;
  }
  .carousel-inner{
    margin:0 auto;
    width: 100%;
    height: 400px !important;
    vertical-align: middle;
  }
  .carousel-control{
    max-height: 100% !important;
    width: 50px;
    background-color: #ad3e3c;
  }
  .fa-2x{
    margin-right: 5px;
    color: #F64747;
  }
}
