.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #ffffff;
  background: url(../images/DSC00382.jpg) no-repeat
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar{
  background-color: #7f7979;
  border-color: #7f7979;
  text-decoration-color: #ddbc44;
  color: #FFFFFF;
}
.navbar-default .navbar-brand{
  color: #ffffff;
}
.navbar-nav{
  color: #ffffff
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #968F8F;
  color: #FFFFFF;
}
/* Custom page header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/DSC00382.jpg) no-repeat
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
color: #ffffff;
  min-width: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}
.btn-success{
  background-color: #39304A;
  border-color: #39304A;
}
.btn-success:hover
{
  background-color: #39304A;
  border-color: #39304A;
}
.btn-success:active
{
  background-color: #39304A;
  border-color: #39304A;
}
.btn-success:focus,
.btn-success.focus {
  background-color: #39304A;
  border-color: #39304A;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #39304A;
  border-color: #39304A;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  background-color: #39304A;
  border-color: #39304A;
}
.navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
}

/* Main marketing message and sign up button */
.jumbotron {
  opacity: .95;
  text-align: center;
  border-bottom: 10px solid #dd6044;
  background: rgba(221, 96, 68, .75);
  padding-bottom: 20px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    background-color: #dd6044;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .carousel{
    margin:0 auto;
    width: 1000px;
  }
  .carousel-inner{
    margin:0 auto;
    width: 100%;
    height: 400px !important;
    vertical-align: middle;
  }
  .carousel-control{
    max-height: 100% !important;
    width: 50px;
    background-color: #ad3e3c;
  }
}
