<!-- about.html -->
<div class ="container-full">
<div class="container">
  <div class = "row">
    <div class = "col-lg-offset-1 text-center"><h2>Resume</h2></div>
  </div>
  <div class="row">
    <div class="col-sm-3">

        <h4>Languages</h4>

    </div>
        <div class="col-sm-3">
        <h4>Technologies</h4>

        </div>
    <div class="col-sm-3">
      <h4>Experience</h4>

    </div>
    <div class="col-sm-3">
      <h4>Education</h4>
    </div>
        </div>
      </div>
</div>
