<!-- about.html -->
<div class="container-full">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1">
        <h2>Resume</h2>
      </div>
    </div>
    <div class="padding-top-lg">
      <div class="row">
        <div class="col-md-4">
          <img src="images/programming-code.svg" alt="Languages" class="float-left" height = "20%" width = "20%">
          <div class="float-right">
            <h4>Languages</h4>
          </div>
        </div>
        <div class="col-md-8">
          <h5 class="content-left">JavaScript | Angular | React | Backbone | NodeJS | Java</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 padding-top-lg">
          <img src="images/programming.svg" alt="Skills/Experience" class="float-left" height = "20%" width = "20%">
          <h4 class="float-right">About</h4>
        </div>
        <div class="col-md-8">
          <div class="content-left">
         I enjoy the design to development process. I like designing and wireframing web pages and seeing the user effectively using the design.
          I have worked on two different contracts for the government as a software engineer, imagining solutions for issues that the user may encounter.
          This interesting problem solving is what keeps me going within the world of software development. Listed above are some languages I am proficient in.
        </div>
        <div class="row">
          <div class="col-md-8 padding-top-lg">
             
            </div>
        </div>
      </div>
    </div>
  </div>