
<body ng-app="twatson071githubioApp">
    <div class="font-container jumbotron">
  <div ng-controller="ContactCtrl">
      <div class="row">
          <div class ="col-sm-4">
          </div>
          <div class="col-sm-4"
      <div class="form-group">
  <form novalidate action="mailto:twatson071@gmail.com?subject=Portfolio Contact" id="contact" method="post" enctype="text/plain" class="simple-form">
    <label>Name: <input type="text" name="name" ng-model="user.name" class="input form-control" /></label><br />
    <label>E-mail: <input type="email" name="email" ng-model="user.email" class="input form-control" /></label><br />
    <textarea form ="contact" name="comment" id="taid" cols="35" wrap="soft" class="input form-control"></textarea><br />
    <input type="button" ng-click="reset()" value="Reset" class="input btn btn-success btn-sm" />
    <input type="submit" ng-click="update(user)" value="Send" class="input btn btn-success btn-sm" />
  </form>
      </div>
      <div class="col-sm-4">
      </div>
      </div>
      </div>
</div>
    </div>
</body>
</html>

