<!-- about.html -->
<div class="container-full">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1">
          <h2>Side Projects</h2>
        </div>
      </div>
      <div class="padding-top-lg">
        <div class="row">
          <div class="col-md-4">
            <img src="images/programming-code.svg" alt="Languages" class="float-left" height = "20%" width = "20%">
            <div class="float-right">
             <a href="http://www.weightscalc.com/"> <h4>Weight Calculator</h4> </a>
            </div>
          </div>
          <div class="col-md-8">
          </div>
        </div>
    </div>